html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}
body {
    background: linear-gradient(to bottom, #070a16 0%, #0d1024  33%,#1f2338 66%, #2e3e58 100%);
    background-repeat: no-repeat;
    color: #4caf50;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}
ul {
    background-color: #161515;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul :hover{
    color: rgb(129, 126, 126);
}
li a{
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
   
   
}
li a:hover {
    background: linear-gradient(to right, #24273A, #2e3e58, #4d7493);
    color: white;
    border-radius: 8px;
}
.active-link {
    background-color: #373837;
    color: #fff;
    border-radius: 8px;
}